@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.app {
  margin: 0;
}
